# {{project_name}} Architecture

## Overview

{{architecture_overview}}

## Components

{{components}}

## Data flow

{{data_flow}}

## Directory structure

{{directory_structure}}

## Design decisions

{{design_decisions}}
